.form {
  max-width: 610px;
  z-index: 5;
  margin: 0 10px;
  min-width: 260px;
}

.form-caption {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 10px;
}

button.button-default {
  padding: 6px 10px;
  border-radius: 2px;
  color: #fff;
  background-color: lightseagreen;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 0;
  transition: background-color 0.3s ease-in;
}

.button-default:hover {
  background-color: darken(lightseagreen, 10);
  transition: background-color 0.3s ease-in;
}

.button-default i {
  margin-right: 6px;
}

.margin-auto {
  margin: auto;
}

.employee-box-new {
  min-width: 280px;
  background: rgba(0, 0, 0, 0.05);
  max-width: 610px;
  margin: auto;
  padding: 10px;
  border: 5px solid #fff;
  box-shadow: 0 0 8px -3px #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

  margin-top: 100px;
  z-index: 5;
}

.employee-box-new:hover {
  box-shadow: 0 0 18px -10px #000;
  background-color: rgba(200, 200, 200, 0.3);
  border: 5px solid #fff;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.employee-box-new {
  height: 100%;
}

.employee-box-new input,
.employee-box-new select {
  background: #fff;
}

/*
.employee-box::after {
  content: " ";
  background: rgba(0, 0, 0, 0.3);

  -webkit-clip-path: polygon(74% 0, 100% 23%, 100% 0);
  clip-path: polygon(74% 0, 100% 23%, 100% 0);

  position: absolute;
  top: 0px;
  right: 0px;
  width: 160px;
  height: 160px;
  box-shadow: 0 0 5px 0 #000;
}*/
