.all-employees-list {
  background: #f2f2f2;
}

.employee-box {
  border: 1px solid #ddd;
  background: #fff;
  width: 250px;
  height: 250px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 8px -3px #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
}

.employee-box:hover {
  box-shadow: 0 0 8px -3px #000;
  transition: box-shadow 0.3s ease-in-out;
}
