.input-standard {
  border: 1px solid transparent;
  padding: 0px 2px;
  border-radius: 2px;
  background: transparent;
  min-height: 22px;
  width: calc(100% - 6px);
}

.input-standard:hover {
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  background: #fff;
  box-shadow: 0 0 5px -2px #999;
}

.input-standard:focus {
  box-shadow: 0 0 5px -2px #666;
  background: #fff;
}

.input-key-data {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.input-bold {
  font-size: 28px;
  font-weight: 500;
}
